<section class="landing">
  <header class="landing__mobile-header" aria-label="Mobile navigation">
    <div class="landing__mobile-bar">
      <img class="brand__logo brand__logo--mobile" src="assets/img/langingpage-img/logo_d_gruchmann_v2.svg"
        alt="Danny Gruchmann logo">
      <button class="landing__burger" type="button" aria-label="Toggle navigation menu"
        aria-controls="mobile-menu-panel" (click)="toggleMobileMenu()">
        <img src="assets/img/mobile/burger menu.svg" alt="" aria-hidden="true">
      </button>
    </div>
    <div class="landing__mobile-menu-panel" *ngIf="isMobileMenuOpen$ | async">
      <app-mobile-menu></app-mobile-menu>
    </div>
  </header>
  <div class="landing__top">
    <div class="landing__portrait">
      <img class="portrait__shape" src="assets/img/langingpage-img/selfie-background-1.svg" alt="" aria-hidden="true">
      <img class="portrait__shape portrait__shape--hover" src="assets/img/langingpage-img/serlfie-background-2.svg"
        alt="" aria-hidden="true">
      <img class="portrait__image" src="assets/img-seflies/B437F87D-6C83-49B3-A3D4-1209EFADB793_1_201_a.png"
        alt="Danny Gruchmann">
    </div>
    <div class="landing-right">
      <div class="landing__container-right">

        <div class="intro__meta">
          <img class="brand__logo" src="assets/img/langingpage-img/logo_d_gruchmann_v2.svg" alt="Danny Gruchmann logo">
        </div>

        <div class="intro__text">
          <h1>Danny Gruchmann</h1>
          <p>FRONTEND DEVELOPER</p>
        </div>

        <div class="scroll-indicator-container">
          <button class="scroll-indicator" type="button" aria-label="Scroll down" (click)="scrollToWhyMe()">
            <img src="assets/img/langingpage-img/arrow-down.svg" alt="" aria-hidden="true">
          </button>
        </div>
      </div>

      <div class="landing__socials" aria-label="Social media">
        <a class="social-icon social-icon--mail" href="#" aria-label="E-Mail"></a>
        <a class="social-icon social-icon--github" href="#" aria-label="GitHub"></a>
        <a class="social-icon social-icon--linkedin" href="#" aria-label="LinkedIn"></a>
      </div>
    </div>

  </div>
</section>

<app-header-nav></app-header-nav>

<app-why-me></app-why-me>

<app-myskills></app-myskills>

<app-myprojects></app-myprojects>

<app-review-team></app-review-team>

<app-contactform></app-contactform>

<app-footer></app-footer>