<section class="landing">
  <header class="landing-mobile-header" aria-label="Mobile navigation">
    <img class="brand-logo brand-logo--mobile" src="assets/img/langingpage-img/logo_d_gruchmann_v2.svg"
      alt="Danny Gruchmann logo">
    <button class="landing-burger" type="button" aria-label="Open navigation menu" aria-controls="mobile-menu-panel"
      (click)="toggleMobileMenu()">
      <img src="assets/img/mobile/burger menu.svg" alt="" aria-hidden="true">
    </button>
  </header>
  <div class="landing-top">
    <div class="landing-portrait">
      <img class="portrait-shape" src="assets/img/langingpage-img/selfie-background-1.svg" alt="" aria-hidden="true">
      <img class="portrait-shape portrait-shape--hover" src="assets/img/langingpage-img/serlfie-background-2.svg" alt="" aria-hidden="true">
      <img class="portrait-image" src="assets/img-seflies/B437F87D-6C83-49B3-A3D4-1209EFADB793_1_201_a.png"
        alt="Danny Gruchmann">
    </div>

    <div class="landing-container-right">
      <div class="landing-intro">
        <div class="intro-meta">
          <img class="brand-logo" src="assets/img/langingpage-img/logo_d_gruchmann_v2.svg" alt="Danny Gruchmann logo">
        </div>

        <div class="landing-socials" aria-label="Social media">
          <a class="social-icon social-icon--mail" href="#" aria-label="E-Mail"></a>
          <a class="social-icon social-icon--github" href="#" aria-label="GitHub"></a>
          <a class="social-icon social-icon--linkedin" href="#" aria-label="LinkedIn"></a>
        </div>
      </div>

      <div class="intro-text">
        <h1>Danny Gruchmann</h1>
        <p>FRONTEND DEVELOPER</p>
      </div>

      <div class="scroll-indicator-container">
        <button class="scroll-indicator" type="button" aria-label="Scroll down" (click)="scrollToWhyMe()">
          <img src="assets/img/langingpage-img/arrow-down.svg" alt="" aria-hidden="true">
        </button>
      </div>
    </div>


  </div>
</section>
