:host {
  display: block;
  box-sizing: unset;
}

$footer__bg: #8ebfdc;
$footer__text: #2b3d4a;

.footer {
  background: $footer__bg;
  color: $footer__text;
  height: 214px;
  padding: 0 44px;
  display: flex;
}

.footer__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}

.footer__legal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  line-height: 1.4;
}

.footer__legal-link {
  font-weight: 500;
  text-decoration: unset;
  color: $footer__text;
  transition: color 0.2s ease;

  &:hover {
    color: #ffffff;
  }
}

.footer__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.footer__logo {
  height: 72px;
  width: 58px;
}

.footer__brand__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  letter-spacing: 0.5px;
}

.footer__name {
  font-size: 23px;
  font-weight: 600;
}

.footer__role {
  font-size: 17px;
  color: rgba($footer__text, 0.8);
}

.footer__socials {
  display: flex;
  gap: 18px;
  align-items: center;
}

.footer__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, filter 0.2s ease;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer__social-link--github {
  background-image: url('/assets/img/footer/githib-dark.svg');

  &:hover {
    background-image: url('/assets/img/footer/Property 1=White.svg');
  }
}

.footer__social-link--mail {
  background-image: url('/assets/img/footer/mail-dark.svg');

  &:hover {
    background-image: url('/assets/img/footer/Property 1=white (1).svg');
  }
}

.footer__social-link--linkedin {
  background-image: url('/assets/img/footer/linkedin-dark.svg');

  &:hover {
    background-image: url('/assets/img/footer/Property 1=white (2).svg');
  }
}

.footer__legal-mobile {
  display: none;
}

/* @media (max-width: 900px) {
  .footer__inner {
    gap: 60px;
  }
} */

@media (max-width: 768px) {
  .footer__inner {
    flex-direction: column;
    text-align: center;
    gap: 28px;
  }

  .footer__legal {
    align-items: center;
  }

  .footer {
    padding: 20px 44px;
  }

  .footer__legal {
    display: none;
  }

  .footer__legal-mobile {
    display: block;
    width: max-content;
  }

  .footer__social-link--github {
    background-image: url('/assets/img/mobile/Github button.svg');
  }

  .footer__social-link--mail {
    background-image: url('/assets/img/mobile/Email button.svg');
  }

  .footer__social-link--linkedin {
    background-image: url('/assets/img/mobile/Linkedin button.svg');
  }
}

@media (max-width: 480px) {

  .footer {
    padding: 20px 44px;
  }

  .footer__legal {
    display: none;
  }

  .footer__legal-mobile {
    width: max-content;
  }

  .footer__social-link--github {
    background-image: url('/assets/img/mobile/Github button.svg');
  }

  .footer__social-link--mail {
    background-image: url('/assets/img/mobile/Email button.svg');
  }

  .footer__social-link--linkedin {
    background-image: url('/assets/img/mobile/Linkedin button.svg');
  }
}
