<footer class="footer">
  <div class="footer__inner">
    <div class="footer__legal">
      <a [routerLink]="['/legal-notice']" class="footer__legal-link">{{ footerTexts().legalNotice }}</a>
      <span class="footer__copyright">© Danny Gruchmann 2025</span>
    </div>

    <a class="footer__brand" [routerLink]="['/']" [attr.aria-label]="navigationTexts().logoAria"
      (click)="scrollToTop()">
      <img class="footer__logo" src="assets/img/header-img/logo_d_gruchmann_dark.svg" alt="Danny Gruchmann logo">
    </a>

    <div class="footer__socials" aria-label="Social media links">
      <a class="footer__social-link footer__social-link--github" href="#" aria-label="GitHub"></a>
      <a class="footer__social-link footer__social-link--mail" href="#" aria-label="E-Mail"></a>
      <a class="footer__social-link footer__social-link--linkedin" href="#" aria-label="LinkedIn"></a>
    </div>

    <div class="footer__legal-mobile">
      <a [routerLink]="['/legal-notice']" class="footer__legal-link">{{ footerTexts().legalNotice }}</a>
      <span class="footer__copyright">© Danny Gruchmann 2025</span>
    </div>
  </div>
</footer>
