@media (min-width: 1921px) {
  footer {
    justify-content: center;
  }

  .footer__inner {
    max-width: 1920px;
  }

  .footer__legal {
    font-size: 24px;
  }

  .footer__logo {
    height: auto;
    width: 90px;
  }

  .footer__social-link {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1441px) {

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer__inner {
    padding: 0 96px;
  }
}

@media (max-width: 1440px) {
  .footer__inner {
    justify-content: space-between;
    padding: 0 48px;
  }
}

@media (max-width: 768px) {
  .footer__inner {
    flex-direction: column;
    text-align: center;
    gap: 28px;
    padding: 0;
  }

  .footer__legal {
    align-items: center;
  }

  .footer {
    padding: 24px 48px;
  }

  .footer__legal {
    display: none;
  }

  .footer__legal-mobile {
    display: flex;
    width: 100%;
    width: max-content;
    justify-content: space-evenly;

  }

  .footer__social-link--github {
    background-image: url('/assets/img/mobile/Github button.svg');
  }

  .footer__social-link--mail {
    background-image: url('/assets/img/mobile/Email button.svg');
  }

  .footer__social-link--linkedin {
    background-image: url('/assets/img/mobile/Linkedin button.svg');
  }
}

@media (max-width: 480px) {

  .footer__social-link--github {
    background-image: url('/assets/img/mobile/Github button.svg');
  }

  .footer__social-link--mail {
    background-image: url('/assets/img/mobile/Email button.svg');
  }

  .footer__social-link--linkedin {
    background-image: url('/assets/img/mobile/Linkedin button.svg');
  }
}