@media (max-width: 768px) {
  .mobile-menu-panel__bubble {
    width: 450px;
    max-width: 100%;
    height: 400px;
    padding: 36px 24px;
  }

  .mobile-menu-panel__links {
    font-size: 24px;
    gap: 36px;
  }
}

@media (max-width: 480px) {
  .mobile-menu-panel__bubble {
    padding: 28px 18px;
    background-size: cover;
    width: 330px;
    height: 333px;
  }

  .mobile-menu-panel__links {
    font-size: 22px;
    gap: 20px;
  }
}

@media (max-width: 375px) {
  .mobile-menu-panel__bubble {
    padding: 24px 12px;
    width: 290px;
    height: 288px;
  }

  .mobile-menu-panel__links {
    font-size: 18px;
    gap: 12px;
  }
}