@media (min-width: 1921px) {
  .section-title {
    font-size: 72px;
  }

  .tab-item {
    font-size: 36px;
  }

  .project-pannel-align-container {
    max-width: 1920px;
    gap: 108px;
  }

  .info-heading {
    h3 {
      font-size: 32px;
    }
  }

  .info-duration {
    font-size: 20px;
  }

  .info-item {
    p {
      font-size: 26px;
    }
  }

  .tech-stack {
    .tech-label {
      font-size: 24px;
    }
  }

  .tech-icon {
    img {
      max-width: 52px;
      height: 52px;
    }
  }

  .media-card {
    img {
      height: 432px;
      width: 734px;
    }
  }

  .project-btn {
    font-size: 26px;
  }
}

@media (min-width: 1441px) {
  .project-panel {
    padding: 48px 96px;
  }
}

@media (max-width: 1440px) {
  .project-pannel-align-container {
    gap: 7%;
  }
}

@media (max-width: 1024px) {
  .media-card {
    img {
      height: 221px;
      width: 333px;
    }
  }

  .info-heading {
    h3 {
      font-size: 22px;
    }
  }

  .info-bullet {
    width: 24px;
    height: 24px;
  }

  .project-info {
    gap: 20px;
  }

  .section-title {
    font-size: 44px;
  }
}

@media (max-width: 768px) {
  .projects-tabs-mobile {
    display: flex;
  }

  .project-pannel-align-container {
    flex-direction: column;
    gap: 20px;
  }

  .project-panel {
    flex-direction: column;
    padding: 48px 24px;
  }

  .project-media {
    width: 100%;
  }

  .myprojects-section {
    padding: 0;
  }

  .section-title {
    margin-block-start: 0;
  }

  .projects-tabs {
    display: none;
  }

  .project-summary {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .tab-item {
    font-size: 18px;
    color: #ffffff;

    &.active {
      color: #6db3c7;
    }
  }

  .myprojects-container {
    padding: 24px 0 0 0;
  }

  .project-actions {
    padding: 0;
  }

  .info-duration {
    display: none;
  }

  .info-heading {
    align-items: center;

    h3 {
      color: #6db3c7;
    }
  }

  .media-card-mobile {
    display: flex;
    justify-content: center;

    img {
      height: 100%;
      width: 78%;
      border-radius: 24px;
    }

  }

  .media-card {
    display: none;
  }

  .project-media {
    flex: 0;
    gap: 20px;
  }

  .tech-stack {
    display: none;
  }

  .project-btn {
    padding: 4px 12px;
    width: 116px;
    height: 43px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .myprojects-section {
    padding: 0;
  }

  .section-title {
    font-size: 36px;
  }

  .tab-item {
    font-size: 18px;
    color: #ffffff;
    padding: 10px 15px;

    &.active {
      color: #6db3c7;
    }
  }

  .info-heading {
    align-items: center;

    h3 {
      color: #6db3c7;
    }
  }

  .project-media {
    flex: 0;
  }

  .tech-stack {
    display: none;
  }

  .project-btn {
    width: 116px;
    height: 43px;
  }

  .project-summary__text {
    width: unset;
  }
}

@media (max-width: 375px) {
  .project-panel {
    padding: 48px 24px;
  }

  .section-title {
    font-size: 32px;
  }
}