.review-team {
  display: flex;
  justify-content: center;
  background-color: #262e34;
  padding: 0px 48px;
  color: #f5f7fb;
  font-family: 'Josefin Sans', sans-serif;
}

.review-team__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1440px;
}

.review-team__title {
  text-align: center;
  font-weight: 400;
  color: #89bcd9;
  margin: 0;
  font-size: 32px;
}

.review-team__cards {
  display: flex;
  justify-content: space-between;
}

.review-card {
  background-image: url('/assets/img/team-review-section/Ellipse 02.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.3s ease, transform 0.3s ease;
  height: 340px;
  width: 290px;

  &:hover {
    background-image: url('/assets/img/team-review-section/Ellipse 02 (1).svg');
  }
}

.review-card__content {
  text-align: center;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.review-card__name {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
}

.review-card__project {
  margin: 0;
  font-size: 18px;
  color: #d2dae3;

  span {
    color: #89bcd9;
  }
}

.review-card__quote {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(245, 247, 251, 0.95);
}

.review-card__link {
  margin-top: 12px;
  color: #89bcd9;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.review-team__title-mobile {
  display: none;
}

@media (min-width: 1920px) {

  .review-team__title {
    font-size: 42px;
  }

  .review-card {
    height: 460px;
    width: 500px;
  }

  .review-team__cards {
    gap: 48px;
  }

  .review-card__content {
    gap: 20px;
  }

  .review-card__name {
    font-size: 32px;
  }

  .review-card__project {
    font-size: 24px;
  }

  .review-card__quote {
    font-size: 20px;
  }

  .review-card__link {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .review-team__title {
    font-size: 28px;
  }

  .review-card {
    padding: 36px 20px;
    height: 260px;
    width: 260px;
  }

  .review-card__name {
    font-size: 20px;
  }
}

@media (max-width: 768px) {

  .review-team {
    padding: 44px 16px 12px 16px;
  }

  .review-team__title {
    display: none;
  }

  .review-team__cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .review-team__inner {
    gap: 0;
  }

  .review-team__title-mobile {
    display: block;

    h2 {
      color: #89bcd9;
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }
  }

  .review-card {
    width: 290px;
    height: 290px;
    flex: 0 0 248px;
    scroll-snap-align: center;

    &:hover {
      background-image: url('/assets/img/team-review-section/Ellipse 02.svg');
      transform: none;
    }
  }
}

@media (max-width: 480px) {
  .review-team {
    padding: 44px 16px 12px 16px;
  }

  .review-team__title {
    display: none;
  }

  .review-team__cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .review-card {
    padding: 12px 20px;
  }

  .review-team__title-mobile {
    h2 {
      color: #89bcd9;
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 375px) {
  .review-team__title-mobile {
    h2 {
      font-size: 28px;
    }
  }

  .review-card {
    width: 220px;
    height: 210px;
    flex: 0 0 208px;
  }
}