<section class="why-me" id="why-me">
  <div class="why-me__inner">
    <h2 class="why-me__title" appScrollReveal="right">{{ texts().title }}</h2>

    <div class="why-me__content" appScrollReveal="left">
      <div class="why-me__location">
        <img src="assets/img/why-me/Icon Remote.svg" alt="">
        <p class="why-me__headline"><span class="accent">{{ texts().headlineAccent }}</span>
          {{ texts().headlineText }}{{ texts().headlineSuffix }}</p>
      </div>

      <div class="why-me__text">
        <p>
          {{ texts().description }}
        </p>
      </div>
    </div>
    <div class="cta-btn-container" appScrollReveal="left">
      <button class="cta-button" type="button" (click)="scrollToContact()">{{ texts().cta }}</button>
    </div>
  </div>
</section>
