@media (min-width: 1921px) {
  .why-me__title {
    font-size: 72px;
    margin-block-start: 32px;
  }

  .why-me__text {
    font-size: 28px;
    max-width: 502px;

    p {
      margin-block-start: 0;
    }
  }

  .why-me__headline {
    font-size: 36px;
  }

  .why-me__content {
    padding-top: 20px;
  }

  .cta-button {
    font-size: 26px;
  }
}

@media (max-width: 1920px) {
  .why-me__text {
    p {
      width: 450px;
    }
  }
}


@media (max-width: 1024px) {
  .why-me__title {
    font-size: 44px;
    margin-block-start: 98px;
  }

  .why-me__inner {
    padding: 0px 24px 0px 24px;
  }

  .why-me__text {
    font-size: 18px;
    max-width: 540px;
  }

  .why-me__headline {
    font-size: 24px;
    width: max-content;
  }

  .why-me__location {
    gap: 16px;
  }

  .why-me__content {
    gap: 28px;
  }
}

@media (max-width: 768px) {
  .why-me__content {
    gap: 32px;
    flex-direction: column;
  }

  .why-me__text {
    text-align: center;
  }

  .why-me__icon {
    width: 78px;
    height: 78px;
  }

  .why-me__title {
    margin-block-start: 0;

    h2 {
      font-size: 32px;
    }
  }

  .cta-button {
    display: none;
  }

  .why-me__headline {
    font-size: 18px;
  }

  .why-me__inner {
    padding: 24px 24px 0px 24px;
    gap: 32px;
  }
}

@media (max-width: 480px) {
  .why-me__title {
    margin-block-start: 0;
    font-size: 36px;
  }

  .cta-button {
    display: none;
  }

  .why-me__inner {
    padding: 24px 24px 0px 24px;
  }
}

@media (max-width: 375px) {
  .why-me__title {
    font-size: 32px;
  }

  .why-me__location {
    gap: 12px;
  }

  .why-me__headline {
    width: max-content;
  }
}