@media (min-width: 1921px) {
  .header-nav {
    height: 140px;
  }

  .header-nav__logo {
    img {
      height: auto;
      width: 90px;
    }
  }

  .header-nav__links {
    a {
      font-size: 34px;
    }
  }

  .lang {
    font-size: 24px;
  }
}

@media (min-width: 1441px) {
  .header-nav {
    padding: 0 96px;
  }
}

@media (max-width: 1440px) {
  .nav-container {
    padding: 0 48px;
  }
}

@media (max-width: 1024px) {

  .header-nav__logo {
    width: 68px;
  }

  .nav-container {
    padding: 0 24px;
  }

  .header-nav__links {
    gap: 0;
    padding: 10px 20px;


    a {
      font-size: 24px;
    }
  }

  .lang {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  :host {
    display: none;
  }

  .header-nav {
    flex-wrap: wrap;
    gap: 18px;
    padding: 12px 20px;
  }

  .header-nav__links {
    gap: 18px;
  }
}