<section class="myskills-section" id="skills">
    <h2 class="section-title" appScrollReveal="right">{{ texts().title }}</h2>

    <div class="skills-container" appScrollReveal="left">
        <div class="skills-grid" appScrollReveal="left">
            <div class="skill-item" style="--reveal-order: 3;">
                <img src="assets/skill-sets/angular-icon.svg" alt="Angular">
                <p>Angular</p>
            </div>
            <div class="skill-item" style="--reveal-order: 2;">
                <img src="assets/skill-sets/typescript-icon.svg" alt="TypeScript">
                <p >TypeScript</p>
            </div>
            <div class="skill-item" style="--reveal-order: 1;">
                <img src="assets/skill-sets/javascript-icon.svg" alt="JavaScript">
                <p >JavaScript</p>
            </div>
            <div class="skill-item" style="--reveal-order: 0;">
                <img src="assets/skill-sets/html-icon.svg" alt="HTML">
                <p >HTML</p>
            </div>

            <div class="skill-item" style="--reveal-order: 7;">
                <img src="assets/skill-sets/Property 1=CSS.svg" alt="CSS">
                <p >CSS</p>
            </div>
            <div class="skill-item" style="--reveal-order: 6;">
                <img src="assets/skill-sets/restapi-icon.svg" alt="REST-API">
                <p >REST-API</p>
            </div>
            <div class="skill-item" style="--reveal-order: 5;">
                <img src="assets/skill-sets/firebase-icon.svg" alt="Firebase">
                <p >Firebase</p>
            </div>
            <div class="skill-item" style="--reveal-order: 4;">
                <img src="assets/skill-sets/github-icon.svg" alt="Git">
                <p >Git</p>
            </div>

            <div class="skill-item" style="--reveal-order: 9;">
                <img src="assets/skill-sets/materialdesign-icon.svg" alt="Material Design">
                <p >Material Design</p>
            </div>
            <div class="skill-item" style="--reveal-order: 8;">
                <img src="assets/skill-sets/scrum-icon.svg" alt="Scrum">
                <p >Scrum</p>
            </div>
        </div>

        <div class="learning-bubble">
            <div class="heading-container">
                <h3 class="learning-h3-mobile">{{ texts().headingMobile }}</h3>
                <h3>{{ texts().heading }}</h3>
            </div>
            <div class="learning-text-and-epileps">
                <div class="learning-icons">
                    <div class="skill-item-lerning">
                        <img src="assets/skill-sets/Frame 301.svg" alt="">
                        <p>React</p>
                    </div>
                    <div class="skill-item-lerning">
                        <img src="assets/skill-sets/Frame 302.svg" alt="">
                        <p>Vue:js</p>
                    </div>
                </div>
                <p class="learning-text">
                    {{ texts().learningText }}
                </p>
                <div class="learning-icons-mobile">
                    <img src="assets/img/mobile/Currently learning Mob. (1).svg" alt="">
                </div>
            </div>
            <div>
                <button class="cta-button-mobile" type="button" (click)="scrollToContact()">{{ texts().cta }}</button>
            </div>
        </div>
    </div>
</section>
