$accent: #89bcd9;

.myskills-section {
    background-color: #262E34;
    padding: 88px 128px 40px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    color: $accent;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 60px;
    margin-block-start: 18.08px;
}

.learning-icons-mobile {
    display: none;
}

.learning-h3-mobile {
    display: none;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    height: 408px;
    width: 404px;
    gap: 20px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    transition: transform 0.3s ease;
    width: 72px;
    height: 80px;

    &:hover {
        transform: translateY(-5px);
    }

    img {
        width: 85px;
        height: 100px;
        object-fit: contain;
        filter: brightness(0) saturate(100%) invert(70%) sepia(30%) saturate(500%) hue-rotate(160deg) brightness(95%) contrast(90%);
    }

    span {
        font-size: 16px;
        color: #6db3c7;
        text-align: center;
    }
}

.learning-icons {
    display: flex;
    justify-content: center;
    gap: 44px;
    padding-bottom: 24px;
}

.learning-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/skill-sets/background-image/Property 1=Default.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 375px;
    height: 391px;
    gap: 24px;

    &:hover {
        background-image: url('/assets/skill-sets/background-image/Property 1=hover.svg');
    }

    h3 {
        font-size: 18px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .learning-text {
        font-size: 18px;
        color: #b0c4ce;
        text-align: center;
        max-width: 230px;
        margin: 0;
    }
}

.cta-button-mobile {
    display: none;
}