<section class="myskills-section" id="skills">
    <h2 class="section-title">{{ texts().title }}</h2>

    <div class="skills-container">
        <!-- Main Skills Grid -->
        <div class="skills-grid">
            <!-- Row 1 -->
            <div class="skill-item">
                <img src="assets/skill-sets/angular-icon.svg" alt="Angular">
            </div>
            <div class="skill-item">
                <img src="assets/skill-sets/typescript-icon.svg" alt="TypeScript">
            </div>
            <div class="skill-item">
                <img src="assets/skill-sets/javascript-icon.svg" alt="JavaScript">
            </div>
            <div class="skill-item">
                <img src="assets/skill-sets/html-icon.svg" alt="HTML">
            </div>

            <!-- Row 2 -->
            <div class="skill-item">
                <img src="assets/skill-sets/Property 1=CSS.svg" alt="CSS">
            </div>
            <div class="skill-item">
                <img src="assets/skill-sets/restapi-icon.svg" alt="REST-API">
            </div>
            <div class="skill-item">
                <img src="assets/skill-sets/firebase-icon.svg" alt="Firebase">
            </div>
            <div class="skill-item">
                <img src="assets/skill-sets/github-icon.svg" alt="Git">
            </div>

            <!-- Row 3 -->
            <div class="skill-item">
                <img src="assets/skill-sets/materialdesign-icon.svg" alt="Material Design">
            </div>
        </div>

        <!-- Learning Section -->
        <div class="learning-bubble">
            <div class="heading-container">
                <h3 class="learning-h3-mobile">{{ texts().headingMobile }}</h3>
                <h3>{{ texts().heading }}</h3>
            </div>
            <div class="learning-text-and-epileps">
                <div class="learning-icons">
                    <div class="skill-item-lerning">
                        <img src="assets/skill-sets/Frame 301.svg" alt="">
                    </div>
                    <div class="skill-item-lerning">
                        <img src="assets/skill-sets/Frame 302.svg" alt="">
                    </div>
                </div>
                <p class="learning-text">
                    {{ texts().learningText }}
                </p>
                <div class="learning-icons-mobile">
                    <img src="assets/img/mobile/Currently learning Mob. (1).svg" alt="">
                </div>
            </div>
            <div>
                <button class="cta-button-mobile" type="button" (click)="scrollToContact()">{{ texts().cta }}</button>
            </div>
        </div>
    </div>
</section>
