
@media (min-width: 769px) {
  p {
    font-size: 18px;
  }

  li {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .legal-page__hero {
    align-items: flex-start;
  }

  .legal-mobile-header__logo {
    height: 58px;
    width: 72px;
  }

  .legal-page__content {
    margin-top: 20px;
  }

  .legal-page__content {
    background: #262E34;
    margin: 0;
  }

  .legal-mobile-header {
    display: flex;
    padding: 24px 32px 14px 32px;
    flex-direction: column;
    gap: 12px;
  }

  .footer__inner {
    gap: 22px;
    justify-content: unset;
  }

  .legal-mobile-menu-panel {
    display: block;
    pointer-events: auto;
  }
}

@media (max-width: 480px) {
  .legal-page__content {
    background: #262E34;

    h1 {
      font-size: 44px;
    }
  }

  .legal-mobile-header {
    display: flex;
    padding: 16px 18px 0;
  }

  .legal-mobile-menu-panel {
    display: block;
    pointer-events: auto;
  }

  .legal-page__content {
    padding: 40px;
  }
}